:root {
  --ladder-league-white: #cacacb;
  --ladder-league-shadow: #131524;
  --ladder-league-green: #6cc46c;
  --ladder-league-red: #e46a6a;
  --ladder-league-split-green: #95d895;
  --ladder-league-split-red: #e67b7b;
  --ladder-league-p1-color: #6cc46c;
  --ladder-league-p2-color: #00a2ff;
  --ladder-league-p3-color: #ffbc09;
  --ladder-league-bright-white: #dadadb;
  --ladder-league-grey: #A8A8A8;
  --ladder-league-blue: #1562D1;
  --ladder-league-gold: #FFC80B;
  --ladder-league-dark-blue: #1B243C;
  --transition-offset: 3.1s;
}

.runner-bar {
    font-family: 'Rubik';
    color: var(--ladder-league-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 5px var(--ladder-league-shadow);
}

.runner-name{
    transition: color 300ms ease-in;
}

.runner-bar-seed {
    margin-left: auto;
}

.commentary-box {
    font-family: 'Rubik';
    color: var(--ladder-league-white);
    box-sizing: border-box;
    padding: 3%, 1%, 3%, 1%;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    text-shadow: 2px 2px 5px var(--ladder-league-shadow);
}

.commentator-name {
    font-size: 25px;
    color: var(--ladder-white);
}
.commentator-pronoun {
    font-size: 13px;
    color: var(--ladder-white);
}

.lcq-winners-bar {
    font-family: 'Rubik';
    color: var(--ladder-league-white);
    font-size: 1.6em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    --footer-position-color: var(--ladder-league-green);
    text-align: center;
}

.lcq-runner-up-bar {
    font-family: 'Rubik';
    color: var(--ladder-league-white);
    font-size: 1.6em;
    font-weight: bold;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    --footer-position-color: var(--ladder-league-red);
    text-align: center;
}

.lcq-footer-box {
    box-sizing: border-box;
    padding: 10 px, 7px, 10px, 7px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;;
    justify-content: center;
}

.lcq-footer-box-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.lcq-footer-box-position {
    color: var(--footer-position-color);
}

@keyframes moveUp {
  0% {
    transform: translateY(20px);
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}

@keyframes moveDown2 {
  100% {
    transform: translateY(20px);
    opacity: 0; 
  }
  0% {
    transform: translateY(0); 
    opacity: 1;
  }
}

.lcq-runner-name {
    text-transform: uppercase;
    display: inline-block; 
}

.lcq-runner-name.moveUp{
    animation: moveUp 1s ease forwards;
}

.lcq-runner-name.moveDown{
    animation: moveDown2 1s ease forwards ;
}

.lcq-runner-delta {
    font-variant-numeric: tabular-nums; 
}

.timer-title-box{
    display: flex;
    flex-direction: row;
    font-family: 'Rubik';
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 27px;
    padding-right: 24px;
    color: var(--ladder-league-white);
    text-shadow: 2px 2px 5px var(--ladder-league-shadow);
}

.match-title-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;
    gap: 1px;
    flex: 1;
}

.timer{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 58px;
    flex: 1;
    font-variant-numeric: tabular-nums; 
}

.time-title-spacer{
    flex: 1;
}

.time-table-3p{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Rubik';
    color: var(--ladder-league-white);
    box-sizing: border-box;
    padding: 10px;
    text-shadow: 2px 2px 5px var(--ladder-league-shadow);
}

.time-table-row{
    display: flex;
    flex-direction: row;
}

.time-table-3p-left{
    width: 10%;
    font-weight: bold;
    text-align: center;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-table-3p-header{
    width: 30%;
    font-weight: bold;
    text-align: center;
    font-size: 1.7em;
    text-transform: uppercase;
}

.time-table-3p-split{
    width: 30%;
    text-align: center;
    font-size: 1.8em;
    font-variant-numeric: tabular-nums; 
    justify-content: center;
}

.time-table-3p-split.ahead{
    color: var(--ladder-league-split-green);
}

.time-table-3p-split.behind{
    color: var(--ladder-league-split-red);
}

.time-table-3p-bpt{
    width: 30%;
    font-weight: bold;
    text-align: center;
    font-size: 1.7em;
    font-variant-numeric: tabular-nums; 
}

.win-prob-3p{
    display: flex;
    flex-direction: column;
    font-family: 'Rubik';
    color: var(--ladder-league-white);
    box-sizing: border-box;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 2px 2px 5px var(--ladder-league-shadow);
}

.win-prob-2p{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Rubik';
    color: var(--ladder-league-white);
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-shadow: 2px 2px 5px var(--ladder-league-shadow);
}

.win-prob-title{
    text-align: center;
    height: 18%;
    font-size: 1.8em;
    font-weight: bold;
}

.bars-container{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    height: 82%;
}

.bar-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    gap: 2%;
}

.win-prob-bar {
    background-color: var(--bar-color);
    height: 40%;
}

.bar-name{
    width: 22%;
    font-weight: bold;
    font-size: 1.3em;
}

.bar-percentage{
    width: 5%;
    font-size: 1.3em;
}

.win-prob-graph{
    font-family: 'Rubik';
    color: var(--ladder-league-white);
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    text-shadow: 2px 2px 5px var(--ladder-league-shadow);
    display: flex;
    flex-direction: column;
}

.win-prob-graph-labels{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-content: center;
    align-items: center;
    font-size: 1.8em;
    font-weight: bold;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 2px solid color-mix(in srgb, var(--ladder-league-white), transparent 50%);
}

.labels-super-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.graph-label{}

.win-prob-graph-canvas{
    flex: 1;
}

.runner-overlay{
    text-align: center;
    text-shadow: 2px 2px 7px rgb(30, 30, 30); 
    color: var(--ladder-league-bright-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    visibility: hidden;
    opacity: 0;
    font-family: 'Rubik';
    box-sizing: border-box;
    padding-top: 30px;
    transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;
}

.runner-overlay-time{
    font-weight: bold;
    font-size: 90px;
}

.runner-overlay-placement{
    font-style: italic;
    font-size: 50px;
    opacity: 0;
    transition: opacity 300ms ease-in 0ms, visibility 0ms ease-in 0ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.runner-overlay-placement.show{
    opacity: 1;
}

.ll-green{
    color: var(--ladder-league-split-green) !important;
}

.ll-red{
    color: var(--ladder-league-split-red) !important;
}

.ll-gold{
    color: var(--ladder-league-gold) !important;
}

.ll-blue{
    color: var(--ladder-league-blue) !important;
}

.runner-overlay-show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0ms;
}

.match-3p-results-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding-top: 47px;
    padding-left: 57px;
    padding-right: 57px;
    padding-bottom: 57px;
}

.results-runner-icon{
    width: 127px;
    height: 127px;
}

.results-runner-name{
    text-shadow: 2px 2px 7px rgb(10, 10, 10); 
    color: var(--ladder-league-white);
    text-transform: uppercase;
    text-align: center;
    font-family: "Rubik";
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
.results-placement{ 
    text-shadow: 2px 2px 7px rgb(10, 10, 10); 
    color: var(--ladder-league-white);
    text-align: center;
    font-family: "Rubik";
    text-align: center;
    font-style: italic;
    font-size: 33px;
    padding-bottom: 25px;
}

.results-time-row{
    display: flex;
    flex-direction: row;
    text-shadow: 2px 2px 7px rgb(10, 10, 10); 
    color: var(--ladder-league-white);
    font-family: "Rubik";
    font-weight: bold;
    font-size: 43px;
    width: 100%;
    padding-top: 6px;
}

.results-episode-label{
    text-align: left;
    flex: 1;
}

.results-episode-time{
    text-align: center;
    font-variant-numeric: tabular-nums; 
    flex: 1;
}

.results-final-time-label
{
    text-shadow: 4px 4px 7px rgb(10, 10, 10); 
    font-family: "Rubik";
    color: var(--ladder-league-blue);
    font-weight: bold;
    font-size: 47px;
    padding-top: 22px;
    text-align: center;
}
.results-final-time{
    text-shadow: 4px 4px 7px rgb(10, 10, 10); 
    color: var(--ladder-league-white);
    font-variant-numeric: tabular-nums; 
    text-transform: uppercase;
    text-align: center;
    font-family: "Rubik";
    font-size: 67px;
    font-weight: bold;
    text-align: center;
}

.match-3p-results-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}
.match-3p-results-header-name{
    text-shadow: 2px 2px 7px rgb(10, 10, 10); 
    color: var(--ladder-league-white);
    text-transform: uppercase;
    text-align: center;
    font-family: "Rubik";
    font-weight: bold;
    font-size: 75px;
}
.match-3p-results-header-caption{
    font-family: "Aurebesh";
    color: var(--ladder-league-grey);
    text-shadow: 2px 2px 7px rgb(10, 10, 10); 
    font-size: 37px;
}

@keyframes moveUpResults {
  0% {
    transform: translateY(40px);
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}

.match-3p-results-header{
    opacity: 0; 
}

.match-3p-results-header.moveUp{
    animation: moveUp 0.5s ease-in calc(0s + var(--transition-offset)) forwards;
}

.match-3p-results-left-box{
    opacity: 0; 
}

.match-3p-results-left-box.moveUp{
    animation: moveUp 0.25s ease-in calc(0.25s + var(--transition-offset)) forwards;
}

.match-3p-results-center-box{
    opacity: 0; 
}

.match-3p-results-center-box.moveUp {
    animation: moveUp 0.25s ease-in calc(0.37s + var(--transition-offset)) forwards;
}

.match-3p-results-right-box{
    opacity: 0; 
}

.match-3p-results-right-box.moveUp{
    animation: moveUp 0.25s ease-in calc(0.49s + var(--transition-offset)) forwards;
}

/* Upcoming Matches */

@keyframes moveRightResults {
  0% {
    transform: translateX(40px);
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}

.upcoming-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    opacity: 0; 
}
.upcoming-header-name{
    text-shadow: 2px 2px 7px rgb(10, 10, 10); 
    color: var(--ladder-league-white);
    text-transform: uppercase;
    text-align: center;
    font-family: "Rubik";
    font-weight: bold;
    font-size: 75px;
}
.upcoming-header-caption{
    font-family: "Aurebesh";
    color: var(--ladder-league-grey);
    text-shadow: 2px 2px 7px rgb(10, 10, 10); 
    font-size: 37px;
}

.upcoming-match{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-shadow: 3px 3px 6px rgb(10, 10, 10); 
    color: var(--ladder-league-white);
    text-align: center;
    font-family: "Rubik";
    gap: 8px;
    z-index: 10;
}

.upcoming-match-name{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.upcoming-match-participants{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 10px;
    width: 100%;
    font-size: 35px;
    text-transform: uppercase;
}

.upcoming-match-schedule{
    font-style: italic;
    font-size: 25px;
}

.upcoming-header.moveRight{
    animation: moveRightResults 0.5s ease-in calc(0.1s + var(--transition-offset)) forwards;
}

.upcoming-top-box{
    opacity: 0; 
}

.upcoming-top-box.moveRight{
    animation: moveRightResults 0.25s ease-in calc(0.39s + var(--transition-offset)) forwards;
}

.upcoming-center-box{
    opacity: 0; 
}

.upcoming-center-box.moveRight {
    animation: moveRightResults 0.25s ease-in calc(0.55s + var(--transition-offset)) forwards;
}

.upcoming-bottom-box{
    opacity: 0; 
}

.upcoming-bottom-box.moveRight{
    animation: moveRightResults 0.25s ease-in calc(0.71s + var(--transition-offset)) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 1; 
  }
  100% {
    opacity: 0;
  }
}

.fade-hider{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    z-index: 20;
    opacity: 1;
}

.fade-hider.hide{
    animation: fadeIn 0.5s ease-in calc(0.1s + var(--transition-offset)) forwards;
}

.interview-box{
    color: var(--ladder-league-white);
    text-shadow: 3px 3px 6px rgb(10, 10, 10); 
    color: var(--ladder-league-white);
    text-align: left;
    font-family: "Rubik";
}

.interview-box-header{
    font-style: italic;
    font-size: 50px;
    opacity: 0;
}
.interview-inner-box{
    border-left: 4px rgba(0,0,0,0) solid;
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.interview-box-name{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 75px;
    opacity: 0;
    line-height: 1;
}
.interview-box-time-label{
    font-weight: bold;
    color: var(--ladder-league-blue);
    font-size: 53px;
    opacity: 0;
    line-height: 1;
}
.interview-box-time{
    font-weight: bold;
    font-variant-numeric: tabular-nums;
    font-size: 75px;
    opacity: 0;
    line-height: 1;
}

@keyframes moveLeftResults {
  0% {
    transform: translateX(-40px);
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}

@keyframes borderinterview {
  0% {
    border-left: 4px rgba(0,0,0,0) solid;
  }
  100% {
    border-left: 4px grey solid;
  }
}

.interview-box-header.moveRight{
    animation: moveLeftResults 0.5s ease-in calc(0.1s + 0.1s + var(--transition-offset)) forwards;
}

.interview-box-name.moveRight{
    animation: moveLeftResults 0.45s ease-in calc(0.1s + 0.29s + var(--transition-offset)) forwards;
}

.interview-box-time-label.moveRight {
    animation: moveLeftResults 0.45s ease-in calc(0.1s + 0.29s + var(--transition-offset)) forwards;
}

.interview-box-time.moveRight {
    animation: moveLeftResults 0.45s ease-in calc(0.1s + 0.29s + var(--transition-offset)) forwards;
}

.interview-inner-box.moveRight{
    animation: borderinterview 0.45s ease-in calc(0.1s + 0.63s + var(--transition-offset)) forwards;
}

.interview-fade-hider{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    z-index: -1;
    opacity: 1;
}

.interview-fade-hider.hide{
    animation: fadeIn 0.6s ease-in calc(0.1s + var(--transition-offset)) forwards;
}


/* Ladder Opening */
.ladder-opening-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding-top: 47px;
    padding-left: 57px;
    padding-right: 57px;
    padding-bottom: 57px;
}

.ladder-opening-runner-icon{
    width: 200px;
    height: 200px;
}

.ladder-opening-runner-name{
    text-shadow: 2px 2px 7px rgb(10, 10, 10); 
    color: var(--ladder-league-white);
    text-transform: uppercase;
    text-align: center;
    font-family: "Rubik";
    font-size: 57px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
.ladder-opening-runner-seed{ 
    text-shadow: 2px 2px 7px rgb(10, 10, 10); 
    color: var(--ladder-league-white);
    text-align: center;
    font-family: "Rubik";
    text-align: center;
    font-style: italic;
    font-size: 43px;
    padding-bottom: 25px;
}

.ladder-opening-event-time-label
{
    text-shadow: 4px 4px 7px rgb(10, 10, 10); 
    font-family: "Rubik";
    color: var(--ladder-league-blue);
    font-weight: bold;
    font-size: 42px;
    padding-top: 22px;
    text-align: center;
}
.ladder-opening-event-time{
    text-shadow: 4px 4px 7px rgb(10, 10, 10); 
    color: var(--ladder-league-white);
    font-variant-numeric: tabular-nums; 
    text-transform: uppercase;
    text-align: center;
    font-family: "Rubik";
    font-size: 62px;
    font-weight: bold;
    text-align: center;
}

.ladder-opening-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-shadow: 4px 4px 5px rgb(10, 10, 10); 
}
.ladder-opening-header-name{
    color: var(--ladder-league-white);
    text-transform: uppercase;
    text-align: center;
    font-family: "Rubik";
    font-weight: bold;
    font-size: 75px;
}
.ladder-opening-header-caption{
    font-family: "Aurebesh";
    color: var(--ladder-league-grey);
    font-size: 37px;
}

.ladder-opening-commentators{
    text-shadow: 4px 4px 5px rgb(10, 10, 10); 
    color: var(--ladder-league-white);
    font-family: "Rubik";
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    opacity: 0; 
}

.ladder-comms-mic{
    width: 100px;
    height: 100px;
}

@keyframes moveUpResults {
  0% {
    transform: translateY(40px);
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}

.ladder-opening-header{
    opacity: 0; 
}

.ladder-opening-header.moveUp{
    animation: moveUp 0.5s ease-in calc(0s + var(--transition-offset)) forwards;
}

.ladder-opening-left-box{
    opacity: 0; 
}

.ladder-opening-left-box.moveUp{
    animation: moveUp 0.25s ease-in calc(0.20s + var(--transition-offset)) forwards;
}

.ladder-opening-center-box{
    opacity: 0; 
}

.ladder-opening-center-box.moveUp {
    animation: moveUp 0.25s ease-in calc(0.32s + var(--transition-offset)) forwards;
}

.ladder-opening-right-box{
    opacity: 0; 
}

.ladder-opening-right-box.moveUp{
    animation: moveUp 0.25s ease-in calc(0.44s + var(--transition-offset)) forwards;
}


.ladder-opening-commentators.moveUp{
    animation: moveUp 0.35s ease-in calc(0.55s + var(--transition-offset)) forwards;
}
