.stream-size {
    width: 870px;
    height: 490px;
}

#data-table {
    position: absolute;
    width: 900px;
    left: 990px;
    top: 790px;
}

#view-1 {
    left: 60px;
    top: 30px;
}

#view-2 {
    left: 990px;
    top: 30px;
}

#view-3 {
    left: 60px;
    top: 550px;
}

#commentary-area {
    position: absolute;
    width: 860px;
    left: 990px;
    top: 590px;
    margin: 10px;
}
